div {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid orange;
  background: rgb(254,244,235);
  padding: 10px;
}

span {
  color: #fff;
  background: orange;
  padding: 2px;
  cursor: pointer;
  margin:2px;
}