* {
    margin: 0;
    padding: 0; 
}
body {
    background: #222;
    font-family: arial, sans-safari;
}

ul {
    list-style: none;
    position: absolute;
}

#container {
    position: relative;
    width: 490px;   
    height: 170px;
    border: 5px solid #fff;    
    border-radius: 5px;
    background: #fff;
    margin: 10px auto;
}

.slides {
    width: 490px;   
    height: 170px;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
}
.slides img {
    position: absolute;
}
.numbers {
    right: 0px;
    bottom: 5px;     
}
.numbers li{
    width: 20px;
    height: 20px;
    background: #F90;
    color: #fff;          
    font-size: .8em;
    line-height: 1.5em;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.numbers .current {
    background: #f60;
    opacity: 1;
}