div {
  width: 800px;
  margin: 0 auto;
}
span {
}
ul {
  display: inline;
  width: 400px;
  list-style: none;
}
li {
  position: relative;
  left: 390px;
  float: left;
  margin: 0 2px;
}
p {
  display: none;
  position: absolute;
  left: 670px;
  color: red;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px;
}

#final {
  position: relative;
  left: 180px;
}

b{
  color: red;
}
