* {
    margin: 0;
    padding: 0;
}
body {
    font:13px arial,sans-serif;
    background:#9D9D9D;
}
#container {
    width:768px;
    height:445px;
    margin:10px auto;
    overflow:hidden;
    position: relative;
}
#load {
    margin: 200px auto;
    color:#fff;
    font-size: 150%;
    text-align: center;
}
#large {
    position: relative;
    width: 100%;
    height:435px;
}
#large img {
    position: absolute;    
    left: 0;
    right: 0;    
}

#small {
    position: absolute;
    width:814px;
    height:42px;
    bottom: 0;
    list-style: none;
    padding-left:354px;
    margin: 0;
}
#small li {
    float: left;
    width:32px;
    height:38px;
    display:inline;
    //margin-right:10px;
    border:2px solid #FFF;
    border-radius:2px;
    transition-duration: 0.5s;
    position: absolute;
}
#small li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#small li  h5{
    position: absolute;    
    width:84px; 
    background:#444;
    border-radius:2px;
    left:-35px;
    bottom:47px;
    //display:none;
    color:#FFF;
    text-align:center;
    padding:4px 10px
}
#small .active {
    position: absolute;
    left: 10px;
    width: 70px;
    height: 84px;
    bottom: 0;
}
#small .active div {
    position:absolute;
    height:90px;
    left:72px;
    //z-index:-1;
    bottom:-2px;
    white-space:nowrap;
}
#small .active div h5{
    position: absolute;
    background-color: #fff;
    color:#333;
    font-size: 130%;
    font-weight: 400;
    border-radius:2px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    width: auto;
    height: 55px;
    padding:10px 10px 0 15px;    
}
#small .active div a{
    position: absolute;
    display: block;
    bottom: 0; 
    left: 15px;
    border:1px solid #3079ED;
    background:#4D90FE;
    color:#FFF;
    text-decoration: none;
    padding:3px 6px;
    cursor: pointer;
}

